body {
	margin: 0;
	padding: 0;
	background-color: #2e2b2b;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

.show {
	background-color: rgba(255, 255, 255, 0.8);
	color: #2e2b2b;
	width: fit-content;
	height: fit-content;
	border-radius: 20px;
	padding: 10px;
	font-size: 3rem;
	cursor: pointer;
	position: fixed;
	bottom: 0;
	margin-left: 10px;
	margin-bottom: 10px;
	z-index: 1000;
}

.navbar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 3rem;
	width: fit-content;
	height: fit-content;
	background-color: rgba(255, 255, 255, 0.8);
	color: #2e2b2b;
	padding: 10px;
	position: fixed;
	bottom: 100px;
	margin-left: 10px;
	opacity: 80%;
	border-radius: 20px;
	transition: ease-in-out transform;
	transition-duration: 0.5s;
	transform: scaleY(0);
	transform-origin: bottom;
	z-index: 1000;
}

.navbar-active {
	transform: scaleY(1);
}

.navbar >* {
	cursor: pointer;
	margin-bottom: 30px;
}

.navbar >*:hover {
	opacity: 70%;
}

.navbar > div:first-child  {
	margin-top: 30px;
}

.paragraph i {
	margin-right: 10px;
}

.content {
	margin: 0;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.homeContainer {
	display: flex;
	flex-direction: row;
	width: 50%;
	align-items: center;
	justify-content: space-evenly;
	padding: 50px 20px;
	box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.75);
}

.homeContainer .photo {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	overflow: hidden;
}

.homeContainer .photo img {
	width: auto;
	height: 100%;
	object-fit: contain;
}

.homeContainer h1 {
	font-size: 2.5rem;
}

.homeContainer .paragraph {
	font-size: 1.2rem;
	line-height: 1.8;
}

.link {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.link .netbtn {
	display: flex;
	width: 100px;
	height: auto;
	align-items: center;
	justify-content: center;
	padding: 5px 5px;
	border: 2px rgba(255, 255, 255, 0.8) solid;
	border-radius: 20px;
}

.link >* {
	cursor: pointer;
}

.link i {
	font-size: 2rem;
	margin-right: 10px;
}
.link >*:first-child {
	margin-right: 10px;
}
